A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.  
● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.  
● The company needs to check whether there is any dependency between the
features “Region” and “Manager”.  
Help the company to carry out their study with the help of data provided.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Sales_add.csv')
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [27]:
## Here we take paired sample t test

In [4]:
## H0=There is no change after stepping into digital marketing(difference in mean is zero)
## Ha=There is increase in sales after stepping into digital marketing(difference in group mean is not zero)

In [30]:
from scipy.stats import ttest_rel
alpha=0.05
ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

here pvalue>alpha hence we fail to reject the null hypothesis.  
There is no change after stepping into digital marketing

### Here we use independant  two sample ttest

H0:There is dependency beteen region and manager.  
Ha:There is no dependency between region and manager

In [7]:
data1=data.groupby('Region')
data2=data.groupby('Manager')

In [8]:
print(data1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001BEDA346550>

In [9]:
print(data2)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001BEDA346340>

In [32]:
data3=data.groupby(['Region']).mean()
data5=data3.mean()
data5

Sales_before_digital_add(in $)    149413.823810
Sales_After_digital_add(in $)     228866.719048
dtype: float64

In [18]:
data4=data.groupby(['Manager']).mean()

In [33]:
data6=data4.mean()
data6

Sales_before_digital_add(in $)    149453.002646
Sales_After_digital_add(in $)     229589.714286
dtype: float64

In [31]:
from scipy.stats import ttest_ind
alpha=0.05
ttest_ind(data5,data6)

Ttest_indResult(statistic=-0.0067539925614202075, pvalue=0.9952242605224548)

since p value>alpha we fail to reject the null hypothesis.  
there is dependency between region and manager